body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.main-text-1 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  line-height: 74px;
}

.main-text-2 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  line-height: 59px;
  margin: 0;
}

.main-text-3 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  line-height: 44px;
}

.main-text-4 {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  line-height: 37px;
}

.main-text-5 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.button {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #FF0000;
  height: 60px;
  border: none;
  border-radius: 3px;
  padding: 18px 30px 0;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background-color: #C60000;
}
.button:active {
  background-color: #3D3D3D;
}

.button-white {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 3px 15px 5px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
}
.button-white:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.button-white:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.button-arrow-left {
  border: none;
  background-color: #F4F4F4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-left.svg");
  background-position: 13px center;
  cursor: pointer;
  transition: all 0.3s;
}
.button-arrow-left:hover {
  background-color: #E7E7E7;
}
.button-arrow-left:active {
  background-color: #F4F4F4;
}
.button-arrow-left:focus {
  outline: none;
}

.button-arrow-right {
  border: none;
  background-color: #F4F4F4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-right.svg");
  background-position: 16px center;
  cursor: pointer;
  transition: all 0.3s;
}
.button-arrow-right:hover {
  background-color: #E7E7E7;
}
.button-arrow-right:active {
  background-color: #F4F4F4;
}
.button-arrow-right:focus {
  outline: none;
}

.link {
  color: #FF0000;
  text-decoration: none;
  transition: all 0.3s;
}
.link:hover {
  color: #C60000;
}
.link:active {
  color: #3D3D3D;
}

.socials {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.socials a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #F4F4F4;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
}
.socials a:hover {
  background-color: #C4C4C4;
}
.socials a:active {
  background-color: #FF0000;
}

.socials__fb {
  background-image: url(../img/fb-icon.svg);
}

.socials__insta {
  background-image: url(../img/inst-icon.svg);
}

.socials__twi {
  background-image: url(../img/twi-icon.svg);
}

.block-flex {
  display: flex;
}

.block-none {
  display: none;
}

header {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
header::before {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  top: 86px;
}

.header__top-bar {
  display: flex;
  justify-content: space-between;
}

.header__logo-box {
  padding-top: 15px;
  display: flex;
  align-items: center;
}
.header__logo-box a {
  margin-right: 28px;
}
.header__logo-box p {
  margin-top: 7px;
  font-size: 14px;
  line-height: 19px;
  width: 290px;
}

.header__contact-box {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.header__mail {
  margin-right: 35px;
  padding-left: 30px;
  background-image: url("../img/mail-icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.header__phone {
  margin-right: 20px;
  padding-left: 30px;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.header__menu-bar {
  margin-top: 30px;
}

.header__menu {
  list-style: none;
  padding: 0;
  display: flex;
}
.header__menu li {
  margin-right: 50px;
}
.header__menu a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.header__menu a:hover {
  color: #FF0000;
}

.header__menu-arrow {
  padding-right: 30px;
  background-image: url("../img/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.header__menu-secret {
  position: relative;
}

.header__menu-secret-list {
  list-style: none;
  padding: 0;
  border-radius: 3px;
  width: 180px;
  position: absolute;
  background-color: #fff;
  display: none;
  flex-direction: column;
}
.header__menu-secret-list li {
  padding: 10px 5px 10px 20px;
  margin-right: 0;
}
.header__menu-secret-list a {
  color: #3D3D3D;
}

.header__menu-secret--company:hover .header__menu-secret-list--company {
  display: flex;
}

.header__menu-secret-list--solutions {
  width: 260px;
}

.header__menu-secret--solutions:hover .header__menu-secret-list--solutions {
  display: flex;
}

.header__menu-secret--any:hover .header__menu-secret-list--any {
  display: flex;
}

.header__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__main-content h1 {
  width: 670px;
  text-align: center;
}

.header__features {
  list-style: none;
  padding: 0;
  display: flex;
}
.header__features li {
  position: relative;
  height: 34px;
  margin-right: 50px;
  padding-left: 34px;
  background-image: url("../img/check-list-icon.svg");
  background-repeat: no-repeat;
  z-index: 5;
}
.header__features li:last-child {
  margin-right: 0;
}
.header__features li::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 0, 0, 0.3);
  display: block;
  width: calc(100% - 34px);
  height: 9px;
  left: 34;
  top: 13px;
  z-index: -1;
}

.header__test-box {
  margin-top: 35px;
  width: 770px;
  height: 180px;
  border: 2px solid #fff;
  display: flex;
  padding: 47px 50px 59px 58px;
  align-items: center;
}
.header__test-box h3 {
  width: 309px;
  margin-right: 91px;
}
.header__test-box a {
  margin-top: 15px;
}

.header__discription {
  margin: 52px 0 46px;
}

.before-after {
  padding-top: 96px;
  padding-bottom: 100px;
}
.before-after h2 {
  text-align: center;
}

.before-after__discription {
  text-align: center;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}

.before-after__content {
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
}

.before-after__before,
.before-after__after {
  width: 305px;
}
.before-after__before h3,
.before-after__after h3 {
  margin: 0;
  margin-bottom: 70px;
}

.before-after__list {
  padding: 0;
  list-style: none;
}
.before-after__list li {
  margin-bottom: 16px;
}

.before-after__list--before li {
  padding-left: 31px;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  background-image: url("../img/cross-before-icon.svg");
}

.before-after__list--after li {
  padding-left: 34px;
  background-repeat: no-repeat;
  background-position: 0px -4px;
  background-image: url("../img/check-after-icon.svg");
}

.solutions {
  padding: 75px 0 60px;
  background-color: #F4F4F4;
}
.solutions h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 38px;
}

.solutions__toggles {
  padding: 0;
  list-style: none;
  display: flex;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 23px;
}
.solutions__toggles a {
  line-height: 30px;
  text-decoration: none;
  color: #3D3D3D;
  margin-right: 80px;
  transition: all 0.3s;
}
.solutions__toggles a:hover {
  color: #FF0000;
}

.solutions__toggle--active {
  position: relative;
}
.solutions__toggle--active a {
  color: #FF0000;
}
.solutions__toggle--active::before {
  content: "";
  width: calc(100% - 80px);
  height: 3px;
  background-color: #FF0000;
  position: absolute;
  top: 50px;
  left: 0;
}

.solutions__control {
  padding-left: 43px;
  background-image: url("../img/control-icon.svg");
  background-repeat: no-repeat;
  background-position: 0px 3px;
}

.solutions__sales {
  padding-left: 45px;
  background-image: url("../img/sale-icon.svg");
  background-repeat: no-repeat;
}

.solutions__shipment {
  padding-left: 45px;
  background-image: url("../img/shipment-icon.svg");
  background-repeat: no-repeat;
  background-position: 0px 6px;
}

.solutions__stock {
  padding-left: 45px;
  background-image: url("../img/stock-icon.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.solutions__slider {
  padding: 0;
  list-style: none;
}

.solutions__slide {
  margin-top: 68px;
  justify-content: space-between;
}

.solutions__text {
  position: relative;
  width: 462px;
}
.solutions__text p {
  margin: 0;
  line-height: 32px;
  margin-bottom: 100px;
}
.solutions__text::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -90px;
  width: 23px;
  height: 321px;
  background-image: url("../img/solutions-arrow.svg");
}

.solutions__img {
  height: 400px;
}

.brands {
  padding: 100px 0;
}

.brands__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brands__top-bar h2 {
  margin: 0;
}

.brands__arrow-block button:first-child {
  margin-right: 20px;
}

.brands__logos {
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 40px;
}

.consult {
  padding: 46px 60px 60px;
  background-color: #F4F4F4;
  background-image: url("../img/consult-img.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
.consult h3 {
  margin: 0;
  margin-bottom: 24px;
}
.consult p {
  line-height: 32px;
  width: 510px;
  margin-bottom: 60px;
}

.materials {
  padding: 100px 0;
}

.materials__head-block {
  display: flex;
}
.materials__head-block h1 {
  margin: 0;
}
.materials__head-block a {
  margin: 28px 0 0 30px;
}

.materials__arrow-block button:first-child {
  margin-right: 20px;
}

.materials__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.materials__list-news {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 46px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.materials__list-news li {
  display: flex;
  flex-direction: column;
  height: 430px;
  background-color: #F4F4F4;
}
.materials__list-news li:nth-child(2n) .materials__news-text {
  order: 1;
}
.materials__list-news li:nth-child(2n) img {
  order: 2;
}

.materials__news-text {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
}
.materials__news-text h4 {
  margin: 0;
}

.materials__head-link {
  text-decoration: none;
  color: #3D3D3D;
  transition: all 0.3s;
}
.materials__head-link:hover {
  color: #FF0000;
}
.materials__head-link:active {
  color: #C60000;
}

.materials__text-link {
  display: block;
  text-align: right;
}

.demonstration {
  padding: 46px 60px 60px;
  background-color: #F4F4F4;
  background-image: url("../img/consult-img.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  margin-bottom: 100px;
}
.demonstration h3 {
  margin: 0;
  margin-bottom: 24px;
}
.demonstration p {
  line-height: 32px;
  width: 510px;
  margin-bottom: 60px;
}

.footer {
  border-top: 1px solid #C4C4C4;
  padding: 50px 0;
}

.footer__top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.footer__mail {
  width: 160px;
  margin-right: 35px;
  padding-left: 30px;
  background-image: url("../img/mail-icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.footer__phone {
  width: 180px;
  margin-right: 20px;
  padding-left: 30px;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.footer__middle-line {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr 2fr 2fr;
  margin-bottom: 50px;
}

.footer__socials {
  display: flex;
  flex-direction: column-reverse;
}

.footer__list h5 {
  margin: 0;
  margin-bottom: 20px;
}
.footer__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__list li {
  margin-bottom: 10px;
}
.footer__list a {
  color: #3D3D3D;
  text-decoration: none;
  transition: all 0.3s;
}
.footer__list a:hover {
  color: #FF0000;
}
.footer__list a:active {
  color: #C60000;
}

.footer__last-list h5 {
  margin: 0;
  margin-bottom: 20px;
}
.footer__last-list a {
  color: #3D3D3D;
  text-decoration: none;
  transition: all 0.3s;
}
.footer__last-list a:hover {
  color: #FF0000;
}
.footer__last-list a:active {
  color: #C60000;
}

.footer__bottom-line p {
  text-align: center;
}