.demonstration {
    padding: 46px 60px 60px;
    background-color: $gray;
    background-image: url('../IMG/consult-img.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    margin-bottom: 100px;
    h3 {
        margin: 0;
        margin-bottom: 24px;
    }
    p {
        line-height: 32px;
        width: 510px;
        margin-bottom: 60px;
    }
}